@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --mian-color: #85FCF2;
    --bg-main: #000;
    --bg-secondary: #D9D9D9;
}

*::after, *::before,* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--bg-main);
    display: flex;
    flex-direction: column;
}

/* css for navigation */
nav {
    width: 100%;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 999;
    position: fixed;
}

.scrolled {
    background-color: var(--bg-main);
    color: #fff;
}

.scrolled img {
    filter: invert(100%);
}

nav .logo {
    width: 50px;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
}
nav .logo img {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    transition: all .5s ease;
}
nav .nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav .nav-links ul li {
    cursor: pointer;
    transition: color .3s ease;
}

nav .nav-links ul .login
{
    color: var(--mian-color);
}

nav .nav-links ul li:hover {
    color: var(--mian-color);
}



/* css for section */
section {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    width: 90%;
    padding: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
form legend {
    font-size: 3rem;
    text-align: center;
    color: var(--mian-color);
    text-shadow: 1px 1px 1px rgb(244, 236, 236);
    margin-bottom: 2rem;
}
.group-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
}
.group-1 input{
    width: 100%;
    background-color: #dedede4c;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--mian-color);
}

.group-1 legend {
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
    text-align: left;
    margin-bottom: 0;
}

form button {
    width: 200px;
    margin-top: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
    background-color: var(--mian-color);
}

form button:hover {
    background-color: #FFE600;
    filter: brightness(1.1);
}
textarea {
    resize: none;
    background-color: #dedede4c;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--mian-color);
    font-family: 'Poppins', sans-serif;
}
.current-image {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 300px;
    overflow: auto;
    padding: 10px 0;
}
.image {
    width: 100%;
    background-color: #dedede4c;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--mian-color);
}
.image .delete {
    transform: rotate(45deg);
    font-size: 1.3rem;
    cursor: pointer;
    transition: color .3s ease;
}

.image .delete:hover {
    color: red;
}
#right-image {
    width: 240px;
    position: absolute;
    top: 20px;
    right: 8rem;
}

.success {
    position: absolute;
    left: 40%;
    padding: 10px;
    background-color: var(--mian-color);
    color: #000;
}